<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrh.blog.article.mapper.BlogArticlesMapper">


    <insert id="insertArticle" useGeneratedKeys="true" keyProperty="articleId">
        insert into blog.blog_articles
        values (null, #{blogArticles.userId}, #{blogArticles.articleTitle}, #{blogArticles.articleContent}, 0, 0, #{blogArticles.articleDate}, 0, 0)
    </insert>

</mapper>
